@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <button id="load">Load</button>
</div>

@section  Scripts {
<script type="text/javascript">
    $(function () {
        $("#load").click(function () {
            $.getJSON("/data.json").then(function (data) {
                alert(data.message);
            });
        });
    });
</script>
}
